body {
    background-color: rgb(61, 153, 73);
    background-image: url("morning.jpg");
    background-size: 100% 800px;
    font: normal 10pt Arial;
    color:  white;
    text-align: center;
    min-height: 700px;
}

section {
    border: 3px solid white;
    border-radius: 8px; 
    width: 300px;
    padding: 20px;
    margin: 100px auto 100px auto;
    font: 14pt Arial;
}
